<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('includes/head') %>
    <title>Listar Estudiantes</title>
</head>
<body>
    <%- include('includes/header') %>
    <div class="container mt-5">
        <h2 class="text-center">Lista de Estudiantes</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <% estudiantes.forEach(estudiante => { %>
                    <tr>
                        <td><%= estudiante.id %></td>
                        <td><%= estudiante.nombre %></td>
                        <td><%= estudiante.email %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <%- include('includes/scripts') %>
</body>
</html>
